@model MagneticMonitoringApp.Models.Measurement

@{
    ViewBag.Title = "Delete";
}

<link href="~/Content/Results.css" rel="stylesheet" />

<h2 style="text-align: center">Delete</h2>

<h3 style="text-align: center">Are you sure you want to delete this?</h3>

<h4 style="text-align: center">Measurement</h4>
<hr />
<div class="parent1">
    <div class="center1">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Path1___raw_signal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Path1___raw_signal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Path2___fft)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Path2___fft)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Path3___signal_features)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Path3___signal_features)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Generator.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Generator.Name)
            </dd>

        </dl>
    </div>
</div>
<br />
<div class="parent2">
    <div class="center2">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-success btn-lg" /> |
                @Html.ActionLink("Back to List", "Index", null, new { style = "color:#1B3409; font-weight: bold;" })
            </div>
        }
    </div>
</div>
