@model MagneticMonitoringApp.Models.ResultAlgorithms1and2


    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Pole</th>
                <th scope="col">ResultAlgorithm2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Pole1</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole1)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole1)
            </tr>
            <tr>
                <th scope="row">Pole2</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole2)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole2)
            </tr>
            <tr>
                <th scope="row">Pole3</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole3)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole3)
            </tr>
            <tr>
                <th scope="row">Pole4</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole4)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole4)
            </tr>
            <tr>
                <th scope="row">Pole5</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole5)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole5)
            </tr>
            <tr>
                <th scope="row">Pole6</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole6)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole6)
            </tr>
            <tr>
                <th scope="row">Pole7</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole7)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole7)
            </tr>
            <tr>
                <th scope="row">Pole8</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole8)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole8)
            </tr>
            <tr>
                <th scope="row">Pole9</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole9)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole9)
            </tr>
            <tr>
                <th scope="row">Pole10</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole10)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole10)
            </tr>
            <tr>
                <th scope="row">Pole11</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole11)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole11)
            </tr>
            <tr>
                <th scope="row">Pole12</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole12)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole12)
            </tr>
            <tr>
                <th scope="row">Pole13</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole13)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole13)
            </tr>
            <tr>
                <th scope="row">Pole14</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole14)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole14)
            </tr>
            <tr>
                <th scope="row">Pole15</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole15)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole15)
            </tr>
            <tr>
                <th scope="row">Pole16</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole16)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole16)
            </tr>
            <tr>
                <th scope="row">Pole17</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole17)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole17)
            </tr>
            <tr>
                <th scope="row">Pole18</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole18)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole18)
            </tr>
            <tr>
                <th scope="row">Pole19</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole19)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole19)
            </tr>
            <tr>
                <th scope="row">Pole20</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole20)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole20)
            </tr>
            <tr>
                <th scope="row">Pole21</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole21)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole21)
            </tr>
            <tr>
                <th scope="row">Pole22</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole22)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole22)
            </tr>
            <tr>
                <th scope="row">Pole23</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole23)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole23)
            </tr>
            <tr>
                <th scope="row">Pole24</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole24)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole24)
            </tr>
            <tr>
                <th scope="row">Pole25</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole25)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole25)
            </tr>
            <tr>
                <th scope="row">Pole26</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole26)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole26)
            </tr>
            <tr>
                <th scope="row">Pole27</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole27)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole27)
            </tr>
            <tr>
                <th scope="row">Pole28</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole28)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole28)
            </tr>
            <tr>
                <th scope="row">Pole29</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole29)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole29)
            </tr>
            <tr>
                <th scope="row">Pole30</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole30)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole30)
            </tr>
            <tr>
                <th scope="row">Pole31</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole31)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole31)
            </tr>
            <tr>
                <th scope="row">Pole32</th>
                <td>@Html.DisplayFor(model => model.resultAlgorithm2.Pole32)</td>
                @Html.HiddenFor(model => model.resultAlgorithm2.Pole32)
            </tr>
        </tbody>
    </table>

